.fav-page {
  padding: 30px;
}

.fav-page h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
}

.fav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.fav-card {
  background: white;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
  text-align: center;
  transition: 0.2s ease-in-out;
}

.fav-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.18);
}

.fav-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.fav-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
}

.fav-rent {
  font-size: 15px;
  color: #444;
  margin: 6px 0 12px;
}

.fav-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  padding: 8px 12px;
  background: #ffe1e1;
  color: #b30000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.remove-btn:hover {
  background: #ffcece;
}

.view-btn {
  padding: 8px 12px;
  background: #003c9d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.view-btn:hover {
  background: #002d78;
}

/* BACK BUTTON */
.back-dashboard-btn {
   margin-top: 30px;
  width: 100%;
  padding: 14px;
  background: #0047ff;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.back-dashboard-btn:hover {
  background: #0038cc;
}
